<div class="container-category">
    <form id="category-input" class="url-form" action="/upload" method="post">
        <label for="general" class="label-button">General</label>
        <input id="general" type="checkbox" name="general" />
        <label for="general" class="label-button">Demographic</label>
        <input id="demographic" type="checkbox" name="demographic" />
        <label for="general" class="label-button">Celebrity</label>
        <input id="celebrity" type="checkbox" name="celebrity" />
    </form>
</div>
<div id="predictions" class="conceptBox">
    <img id="img_preview1" src='{{url}}' width="600px" height="800px"/>
    <br/>
</div>
<div class="container-result">
    <ul class="outputs">
        <li class="result-input">
            <span class="-result-name"> Gender appearance: <div id="text">{{genderName}}</div></span><br>
            <span class="result-value"> probability: <div id="text">{{genderValue}}</div></span>
        </li><br>
    </ul>
    <ul class="outputs">
        <li class="result-input">
            <span class="-result-name"> Gender appearance: <div id="text">{{genderName1}}</div></span><br>
            <span class="result-value"> probability: <div id="text">{{genderValue1}}</div></span>
        </li><br>
    </ul>
</div>
<div class="container-result">
    <ul class="outputs">
        <li class="result-input">
            <span class="-result-name">Age appearance: <div id="text">{{nameAge}}</div></span><br>
            <span class="result-value">probability: <div id="text">{{valueAge}}</div></span>
        </li><br>
    </ul>
    <ul class="outputs">
        <li class="result-input">
            <span class="-result-name">Age appearance: <div id="text">{{nameAge1}}</div></span><br>
            <span class="result-value">probability: <div id="text">{{valueAge1}}</div></span>
        </li><br>
    </ul>
</div>
